@media (max-width:640px){
   body{
        background-color: beige;
        
   } 
}
p {
    border: 2px solid ;
    border-radius: 5px;
  }
@media (min-width: 700px) {
    body{
        background-color: aquamarine;
    }
    
}